.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.darkStyle{
background-color: gray;
color:white;
/* font-size: 80px; */
}
.lightStyle{
  background-color: white;
  color:rgb(63, 182, 221);
  /* font-size: 80px; */
}
.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}


.button:hover {
  background-color: #555555;
  color: white;
}
.button:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: scale(110%);
}
.fontsize{
  font-size: 80px;
}
.second{
  padding-top: 50px;
  font-size: 30px;
}
.inputc{
  font-size: 40px;
  margin-bottom: 20px;
}
.p{
  font-size: 15px;
  margin-bottom: 108px;
}

.h1c{
  font-size: 80px;
  margin-top: 0;
  font-weight: 900;

}

.lightStyle h1{
  color: rgba(0, 77, 192, 0.705);
}

.darkStyle h1{
  color: rgba(0, 0, 0, 0.705);
}